<div class="column">
    <a href="{{ path('sylius_shop_homepage') }}"><img src="https://www.fn-munich.de/wp-content/uploads/2016/12/logo-placeholder-1.png" alt="Sylius logo" class="ui small image" /></a>
</div>
